$color-main: #0097a7;
$color-white: #fff;
$color-black: #000;
$color-gray: rgba($color-black, 0.5);
$color-gray-light: rgba($color-black, 0.1);
$color-error: #b71c1c;

$font-sans: 'Nunito', sans-serif;
